<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/41329eb6-d76e-468e-b21b-bc2f41429e48/resourceGroups/API-News20210719065033ResourceGroup/providers/Microsoft.Web/sites/API-News20210719065033</ResourceId>
    <ResourceGroup>API-News20210719065033ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/41329eb6-d76e-468e-b21b-bc2f41429e48/resourceGroups/API-News20210719065033ResourceGroup/providers/Microsoft.ApiManagement/service/API-Newsapi/apis/API-News</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api-news20210719065033.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>9d9403e7-7b27-42c3-b380-531a5720cc45</ProjectGuid>
    <MSDeployServiceURL>api-news20210719065033.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>API-News20210719065033</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$API-News20210719065033</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>